{% extends 'base.html' %}
{% block content %}
    <h1>Convert energy to entropy!</h1>

    <div class='col-lg-12'>
      {% if not request.session.active_job %}
      <form role='form' action='.' method='post'>{% csrf_token %}
	<div class='form-group'>
	  <label class='control-label'>Number of FFTs</label>
	  <input id='fft' type='number' min='1' max='400000' step='1' value='200000' class='textinput textInput form-control' name='ffts'/>
	</div>
	<input class='btn btn-block btn-primary' type='submit' value='Compute FFTs'/>
	<input type='hidden' name='next' value=''/>
      </form>
      {% else %}
      {% for job in jobs %}
      {% if job.progress %}
      <div class="progress">
	<div class="progress-bar progress-bar-striped active" role="progressbar"
	     aria-valuenow="{{ job.progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ job.progress }}%">
	 {{ job.progress }}%
	</div>
      </div>

      <form role='form' action='.' method='post'>{% csrf_token %}
	<input class='btn btn-block btn-danger' type='submit' value='Cancel Computation' name='cancel_computation' />
	<input type='hidden' name='next' value=''/>
      </form>
      {% endif %}
      {% endfor %}
      {% endif %}

    </div>
{% endblock %}
